<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Socratic Models</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/dialogue.css') }}">
</head>
<body>
    <div><b>UUID: </b><i id="id" contenteditable="true" onfocusout="check_id();"></i></div>
    <div class="seminar" id="seminar"></div>
    <div class="interface">
        <input type="text" id="statement" class="statement" placeholder="Enter a statement here">
        <button onclick="advance_seminar();" class="advance"> &rArr; </button>
    </div>
</body>
<script type="text/javascript" charset="utf-8">
    var socket = io();
    var id = document.getElementById('id');

    socket.on('update_seminar', (data) => {
        document.getElementById("seminar").innerHTML = data.content;
    });

    function advance_seminar() {
        console.log(id.textContent);
        if (id.textContent == "") {
            socket.emit('new_seminar', {'prompt': document.getElementById('statement').value});
        } else {
            socket.emit('continue_seminar', {'id': id.innerHTML, 'prompt': document.getElementById('statement').value})
        }
        document.getElementById('statement').value = '';
    }

    socket.on('on_connect', (data) => {
        document.getElementById("id").textContent = data.id;
    });
    
    function check_id() {
        socket.emit('check_seminar', {'id': id.textContent})
    }

    socket.on('check_seminar', (data) => {
        if (!data.value) {
            alert("Your UUID is incorrect. Please enter a valid one or reload the page.")
        }
    })
</script>